# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b0454a14ddabad48348a987fb9b0c8c59f136bdf95e10cc6000417450a5d1d8c6d179a22dea8958c93b261781e7d3b9fc24ebe9aa660bb0ec6ce376150c8191f
  api_key: f1918c051673ec6ce0bb066aa9ebe42cf9b3d7e187162b39c8598aed22a971d6

test:
  secret_key_base: 799e835692faeb9e680b8437e8ec31db24de43b6b4281a48ff62be6f6c6eeca66dd0f135d85b513ab104df787f30909f0bd2e9b1ca45767fd26537de04cb1dcc
  api_key: c8d1d5a0547140006cc01e59fdb631f95c8c0b9bf789a84384dabadd41a4540b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  api_key: <%= ENV["API_KEY"] %>
